body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
}

h1 {
        color: #ff5c5c;
        font-size: 3em;
        text-align: center;
        margin-top: 40vh;
        transform: translateY(-50%);
}

